# PostgreSQL
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_password
POSTGRES_DB=ecommerce_db

# Airflow metadata DB
AIRFLOW_DB=airflow_db

# Airflow runtime
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=replace_with_a_real_fernet_key
AIRFLOW__WEBSERVER__SECRET_KEY=replace_with_a_real_secret_key

# Airflow admin user
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin123
AIRFLOW_ADMIN_FIRSTNAME=ETL
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

# Metabase app DB
METABASE_DB=metabaseappdb

# App config
DATA_SOURCE_URL=https://fakestoreapi.com/products
STAGING_DIR=/opt/airflow/staging
PIPELINE_ENV=dev
MAX_RETRIES=3
SLACK_WEBHOOK_URL=https://example.com/webhook
ARCHIVE_RETENTION_DAYS=90